[*.cs]

# IDE0055: Fijar formato
dotnet_diagnostic.IDE0055.severity = none

# IDE0059: Asignación innecesaria de un valor
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
